.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.desktop-2 {
  background: #151a33;
  align-self: stretch;
  flex-shrink: 0;
  height: 6.25rem;
  position: relative;
  overflow: hidden;
}
.paper-jet-api {
  color: #c5cfff;
  text-align: left;
  font-family: "AnonymousPro-Regular", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  position: absolute;
  left: 2.375rem;
  top: 1.875rem;
}
.subscribe {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #d9d9d9;
  border-radius: 0.625rem;
  width: 10.4375rem;
  height: 3.375rem;
  position: absolute;
  left: 71.8125rem;
  top: 1.4375rem;
}
.subscribe2 {
  color: #000000;
  text-align: left;
  font-family: "AnonymousPro-Regular", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  position: absolute;
  left: 72.75rem;
  top: 2.25rem;
}
.user {
  height: auto;
  position: absolute;
  left: 84.25rem;
  top: 1.125rem;
  overflow: visible;
}
.contact {
  position: absolute;
  inset: 0;
}
.rectangle-12 {
  background: #d9d9d9;
  border-radius: 0.625rem;
  width: 8.5625rem;
  height: 3.375rem;
  position: absolute;
  left: 60.9375rem;
  top: 1.4375rem;
}
.contact2 {
  color: #000000;
  text-align: left;
  font-family: "AnonymousPro-Regular", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  position: absolute;
  left: 61.875rem;
  top: 2.25rem;
}
._5166950-1 {
  align-self: stretch;
  flex-shrink: 0;
  height: 60rem;
  position: relative;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.desktop-5 {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 6.25rem;
  position: relative;
  overflow: hidden;
}
.rectangle-13 {
  background: #151a33;
  border-radius: 0.625rem;
  width: 10.4375rem;
  height: 3.375rem;
  position: absolute;
  left: 76.875rem;
  top: 1.4375rem;
}
.subscribe3 {
  color: #ffffff;
  text-align: left;
  font-family: "AnonymousPro-Regular", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  position: absolute;
  left: 77.8125rem;
  top: 2.25rem;
}
.rectangle-14 {
  background: #151a33;
  border-radius: 0.625rem;
  width: 8.5625rem;
  height: 3.375rem;
  position: absolute;
  left: 65.6875rem;
  top: 1.4375rem;
}
.contact3 {
  color: #ffffff;
  text-align: left;
  font-family: "AnonymousPro-Regular", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  position: absolute;
  left: 66.625rem;
  top: 2.25rem;
}
.github {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 2.125rem;
  top: 1.8125rem;
  overflow: visible;
}
.paperjetapi-gmail-com-61-404-123-456-https-the-real-guy-chillot-vercel-app-docs-paperjetapi-https-github-com-a-kuchuk-seng-2021 {
  color: #6a7192;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 2.5rem;
  line-height: 3.875rem;
  font-weight: 400;
  position: absolute;
  left: 8.4375rem;
  top: 29.25rem;
}
.contact-us {
  color: #c5cfff;
  text-align: left;
  font-family: "AnonymousPro-Bold", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  position: absolute;
  left: 5.3125rem;
  top: 23.375rem;
  width: 32.8125rem;
  height: 6rem;
}
.github2 {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 4.5rem;
  top: 45.3125rem;
  overflow: visible;
}
.mail {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 4.5rem;
  top: 29.75rem;
  overflow: visible;
}
.phone {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 4.5rem;
  top: 33.5rem;
  overflow: visible;
}
.instagram {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 4.5rem;
  top: 41.4375rem;
  overflow: visible;
}
.link-2 {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 4.5rem;
  top: 37.4375rem;
  overflow: visible;
}
